main {
  font-family: Larsseit;
}

.search-icon {
  height: 16px;
  width: 32px;
}

.logo-icon {
  height: 27px;
  width: 57px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.t-button {
  width: 167px;
  line-height: 62px;
  text-align: center;
  border-radius: 48px;
  background-color: #00C9E0;
  position: relative;
}

.t-button:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FFF;

}

.menu-container {
  max-width: 1200px;
  height: 62px;
}

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 31% 0;
}

.intro:before {
  background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);
  content: "";
  height: 30%;
  position: absolute;
  top: 70%;
  width: 100%;
}

.trip-picker__container {
  background-color: #011627;
  padding-bottom: 65px;
}

.font-bold {
  font-family: Noe Display;
}

.theme-color {
  color: #41EAD4;
}

.theme-bgcolor {
  background-color: #41EAD4;
}

.menu {
  position: relative;
  top: 0;
  right: 0;
  transition: all 1s linear;
  pointer-events: all;

}

.menu.selected {
  border-radius: 50%;
  top: -40vh;
  right: -50vw;
}

.hidden-menu {
  position: fixed;
  width: 20%;
  height: 50vh;
  line-height: 50vh;
  color: #fff;
  background-color: #011627;
  top: -50vh;
  right: -20%;
  font-size: 20px;
  text-align: center;
  z-index: 999;
  transition: all 1s linear;
  border-radius: 48px 0 0 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #41EAD4;

}

.hidden-menu.open {
  top: 100px;
  right: 0;
}


@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }

  .menu-container {
    padding: 0 20px;
    overflow-x: hidden;
  }
}
